<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Talk</title>
  {{!-- fontawesome --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{!-- custom css stylesheet --}}
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
  {{!-- wrapper sets dimensions for header, main, and footer --}}
  <div class="wrapper">
    {{!-- header holds nav links --}}
    <header>
      <h1>
        <i class="fa-solid fa-globe"></i><a href="/">Tech-Talk</a>
      </h1>
      <nav>
        {{!-- dashboard will route to login via middleware if not logged in --}}
        {{!-- otherwise will route to user's dashboard --}}
        <a href="/dashboard">dashboard</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    {{!-- templates render here in main --}}
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{!-- logout button functionality and idle logout timer --}}
  {{#if loggedIn}}
  <script src="/public/javascript/logout.js"></script>
  <script src="/public/javascript/idle-timeout.js"></script>
  {{/if}}
</body>

</html>