<h1 class="login-page-h1">Join the conversion</h1>
{{!-- tech tree image --}}
<div class="flex">
  <img class="tech-tree" src="/public/assets/tech-tree.png" alt="A tree with leaves of various technologies">
</div>

{{!-- login form --}}
<div class="flex">
  <form class="login-form">
    <p class="login-signup-head">login</p>

    <div>
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>

    <div>
      <button type="submit">login</button>
    </div>
  </form>

{{!-- sign up form --}}
  <form class="signup-form">
    <p class="login-signup-head">signup</p>

    <div>
      <label for="username-signup">username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">password:</label>
      <input type="password" id="password-signup" />
    </div>

    <div>
      <button type="submit">signup</button>
    </div>
  </form>
</div>


<script src="/public/javascript/login.js"></script>